.offers__sponsored {
    width: 25%;
}
.offers__sponsored--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offers__sponsored--title i {
    color: #0065fc;
    font-size: 1.8em;
    cursor: pointer;
}

.offers__sponsored article {
    margin: 30px 0;
    display: flex;
    border: 4px solid white;
    height: 145px;
    cursor: pointer;
}
.offers__sponsored article:nth-child(1) {
    margin: 20px 0;
}
.offers__sponsored article .content {
    width: 205px;
}
.offers__sponsored article .content h5 {
    margin: 0;
    padding: 0;
}
.offers__sponsored article .content p {
    margin: 0;
    padding: 0;
    margin-top: 6px;
}
.offers__sponsored article .img {
    width: 135px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 15px;
    overflow: hidden;
}
.offers__sponsored article .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0 10px;
}

.offers__sponsored article img {
    width: 100%;
}

@media screen and (max-width: 1180px) {
    .offers__sponsored article {
        width: 30%;
    }

    .offers__sponsored .articles {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 768px) {
    .offers__sponsored .articles {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .offers__sponsored article {
        width: 100%;
    }
}
