main .search h1 {
    font-size: 30px;
    margin: 0;
}
main .search h2 {
    font-size: 16px;
    font-weight: 400;
}

form {
    cursor: pointer;
    display: flex;
}

form button {
    margin: 0;
    height: 30px;
    width: 30px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #d9d9d9;
}
form input {
    margin: 0;
    height: 30px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0 10px;
}
form input:last-of-type {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    background: #0065fc;
    color: white;
}
form input:first-of-type {
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.filtre {
    display: flex;
    margin-top: 30px;
}
.filtre ul {
    display: flex;
}
.filtre ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 99px;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}
.filtre ul li p {
    margin: 0 10px;
    font-weight: 700;
}
.filtre .fa-solid {
    margin-left: 10px;
    color: #0065fc;
}

.filtre ul li:hover {
    background-color: #deebff;
}

.hebergement .offers {
    display: flex;
}

.offers article{
    background: white;
    border-radius: 10px;
    padding: 5px 5px 10px 5px;
}
.offers__main{
    width: 70%;
    margin-right: 20px;
}
.offers__sponsored{
    width: 30%;
}
.offers__sponsored--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offers__sponsored--title i {
    color: #0065fc;
}

.offers__sponsored article{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.offers__sponsored article .img{
    width: 125px;
    aspect-ratio: 1/1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: red;
    margin-right: 10px;
}

.offers__main, .offers__sponsored{
    background-color: #d9d9d9;
    border-radius: 15px ;
    padding: 30px;
}

.offers__main .articles{
    display: flex;
    flex-wrap: wrap;
}


.offers__main .articles article {
    margin: 20px;
 width: 25%;
 aspect-ratio: 16/9;
 flex-shrink: 0;
}

article h5{
    font-size: 15px;
}

article p {
    font-size: 12px;
}

.stars {
    font-size: 10px;
    color: #0065fc;
}
.stars i:last-of-type{
    color: #d9d9d9;
}
