@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./header/header.css";
@import "./main/main.css";
@import "./footer/footer.css";

body {
    display: block;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
    max-width: 1440px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
